<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985612340728-4lkk9h7t7lbk937gev46co8e2sja6ig6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985612340728-4lkk9h7t7lbk937gev46co8e2sja6ig6</string>
	<key>API_KEY</key>
	<string>AIzaSyA01qP__57qXhq585i3fccPFX7CkBaDI2E</string>
	<key>GCM_SENDER_ID</key>
	<string>985612340728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jimin.snslogin.jimin-sns-login</string>
	<key>PROJECT_ID</key>
	<string>test-sns-login-1b107</string>
	<key>STORAGE_BUCKET</key>
	<string>test-sns-login-1b107.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985612340728:ios:09feec856fab2aee1bda0d</string>
</dict>
</plist>